<h2>Finished Limericks</h2>
<% game_data.limericks.each.with_index do |limerick, index| %>
  <p><strong><%== "~#{NUMBERS[index].capitalize} Limerick~" %></strong></p>
  <div id="limerick<%== index %>">
    <p><em><%== limerick %></em></p>
  </div>
    <p><button class="game-button" id="show-limerick-<%== index %>">Reveal</button></p>


    <script>
    $(document).ready(function(){
      $("#limerick<%== index %>").hide();

      $("#show-limerick-<%== index %>").click(function(){
        $("#limerick<%== index %>").show(500);
        $("#show-limerick-<%== index %>").hide();
      });
    });
  </script>
<% end %>